<!DOCTYPE html>
<html> 
  <head> 
 	<title><%= title%></title>
	<link rel="stylesheet" href="stylesheets/style.css"/>
 </head>
  <body> 
	<h1>Bienvenido a nuestro <%= title%></h1>
	<p><a href = '/examen/question'>Inicio de Juego</a></p>
  </body>
</html>

