<br> Valida la respuesta: </br><p>
<label for ="indice" class="rem"> Indice </label>
<input type="text" id ="indice" name="quiz[indice]" value="<%= quiz.indice %>"/> <p>
<label for ="preg" class="rem"> Pregunta </label>
<input type="text" id ="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<label for ="resp" class="rem"> Respuesta </label>
<input type="text" id ="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"</> <%= respuesta %><p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
